.containerNav{
    color: white;
}
.Navbar{
    opacity: 0.9;
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    z-index: 1000;
}
.LinksNav{
    color: aliceblue !important;
}
.navToggle{
    color: white;
    background-color: azure;
}
#basic-nav-dropdown{
    color: aliceblue;
}
.LinksMas:hover{
    background-color: grey;

}
