.CardsServices{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.cardStyleServices{
    border: 20px;
    border-radius: 30px;
    background-color: rgba(231, 56, 56, 0.918);
    opacity: 0.9;
    text-align: center;
    font-family: 'Kalnia', serif;

}
.cardStyleServices:hover::before{
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
}
.cardStyleServices:hover{
  box-shadow: 0 0 100px #ffee10;
}
.CardServiceImage{
    border-radius: 30px;
}