.btnEdit, .btnDelete, .btnAble {
    --bs-btn-bg: none;
    --bs-btn-border-width: 0px
  }
  
  .panel {
    background-color: #222;
    max-height: 100%;
    max-width: 300px;
    flex-direction: column;
    align-content: center;
    flex: content;
    right: 0;
    color: white;
  }
  
  
  .avatar {
    width: 120px;
    height: 110px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  
  .user {
    display: block;
    margin: 0 auto;
  }
  
  .panel-col {
    width: 100%;
  }
  